.categories__main {
    background: #FFFFFF;
}

.categories__list {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-left: 16px;
    overflow: auto;
}

.categories__list::-webkit-scrollbar {
    display: none;
}

.categories__list button {
    background: #F2F2F2;
    color: #A3A3A3;
    font-size: 12px;
    font-weight: 400;
    padding: 8px;
    border-radius: 6px;
    white-space: nowrap;
    outline: none;
}

.categories__list button.active {
    background: #FFE5E5;
    color: #DB3D42;
}

.categories__main .action {
    display: flex;
    place-content: center;
    margin-top: 12px;
    gap: 8px;
    padding: 0 16px;
}

.categories__main .action .action__search {
    position: relative;
    width: 100%;
}

.categories__main .action .action__search input {
    outline: none;
    border: 1px solid #E9EBED;
    padding: 9px 0 9px 36px;
    border-radius: 8px;
    width: 100%;
}

.categories__main .action .action__search img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.categories__main .action .action__filter {
    border: 1px solid #E9EBED;
    padding: 9px;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: transparent;
}

.categories__main .action .action__filter img {
    width: 18px;
    height: 18px;
}

.list__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    column-gap: 12px;
    padding: 16px;
}

.list__services .content__list--item .thumbnail img {
    width: 100%;
}

.list__services .content__list--item .thumbnail .added {
    background: #FFFFFF;
    border: 1px solid #DB3D42;
    color: #DB3D42;
    font-size: 11px;
    font-weight: 500;
}
